*{
    margin: 0 auto;
}

#header-container{
    max-width: 1080px;
    text-align: center;
    padding: 150px;
    background-color: #F1C40F;
}

#main-container{
    max-width: 1080px;
    margin-top: 25px;
}

#first-section{
    display: flex;
    /* justify-content: center; */
    /* flex-direction: row; */
    /* gap: 10px; */
}

#first-section, #second-section{
    margin: 25px auto;
    height: 250px;
    padding: 20px;
    border: 1px solid #F39C12;
}

.sections{
    margin-bottom: 50px;
}

.btn{
    height: 40px;
    width: 120px;
    padding: 5px 10px;
}
.btn2{
    height: 40px;
    margin-top: 10px;
    padding: 5px 10px;
}
.btn3{
    height: 40px;
    padding: 5px 10px;
}

#change-me{
    color: #DC2626;
}

#blog-area{
    margin-bottom: 25px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

p{
    margin: 10px 0;
    
}

h3{
    margin-top: 30px;
}
#comment{
    width: 100%;
}
